In [8]:
import pandas as pd 

df =pd.read_csv("E:\\IPL project\\retail_store_inventory.csv")
df

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
0,2022-01-01,S001,P0001,Groceries,North,231,127,55,135.47,33.50,20,Rainy,0,29.69,Autumn
1,2022-01-01,S001,P0002,Toys,South,204,150,66,144.04,63.01,20,Sunny,0,66.16,Autumn
2,2022-01-01,S001,P0003,Toys,West,102,65,51,74.02,27.99,10,Sunny,1,31.32,Summer
3,2022-01-01,S001,P0004,Toys,North,469,61,164,62.18,32.72,10,Cloudy,1,34.74,Autumn
4,2022-01-01,S001,P0005,Electronics,East,166,14,135,9.26,73.64,0,Sunny,0,68.95,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73095,2024-01-01,S005,P0016,Furniture,East,96,8,127,18.46,73.73,20,Snowy,0,72.45,Winter
73096,2024-01-01,S005,P0017,Toys,North,313,51,101,48.43,82.57,10,Cloudy,0,83.78,Autumn
73097,2024-01-01,S005,P0018,Clothing,West,278,36,151,39.65,11.11,10,Rainy,0,10.91,Winter
73098,2024-01-01,S005,P0019,Toys,East,374,264,21,270.52,53.14,20,Rainy,0,55.80,Spring
73099,2024-01-01,S005,P0020,Groceries,East,117,6,165,2.33,78.39,20,Rainy,1,79.52,Spring

In [9]:

### data exploring 
df.describe()
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73100 entries, 0 to 73099
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                73100 non-null  object
 1   Store ID            73100 non-null  object
 2   Product ID          73100 non-null  object
 3   Category            73100 non-null  object
 4   Region              73100 non-null  object
 5   Inventory Level     73100 non-null  int64
 6   Units Sold          73100 non-null  int64
 7   Units Ordered       73100 non-null  int64
 8   Demand Forecast     73100 non-null  float64
 9   Price               73100 non-null  float64
 10  Discount            73100 non-null  int64
 11  Weather Condition   73100 non-null  object
 12  Holiday/Promotion   73100 non-null  int64
 13  Competitor Pricing  73100 non-null  float64
 14  Seasonality         73100 non-null  object
dtypes: float64(3), int64(5), object(7)
memory usage: 8.4+ MB

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
0,2022-01-01,S001,P0001,Groceries,North,231,127,55,135.47,33.50,20,Rainy,0,29.69,Autumn
1,2022-01-01,S001,P0002,Toys,South,204,150,66,144.04,63.01,20,Sunny,0,66.16,Autumn
2,2022-01-01,S001,P0003,Toys,West,102,65,51,74.02,27.99,10,Sunny,1,31.32,Summer
3,2022-01-01,S001,P0004,Toys,North,469,61,164,62.18,32.72,10,Cloudy,1,34.74,Autumn
4,2022-01-01,S001,P0005,Electronics,East,166,14,135,9.26,73.64,0,Sunny,0,68.95,Summer

In [10]:
# change the datatypes 
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')
df.dtypes

Date                  datetime64[ns]
Store ID                      object
Product ID                    object
Category                      object
Region                        object
Inventory Level                int64
Units Sold                     int64
Units Ordered                  int64
Demand Forecast              float64
Price                        float64
Discount                       int64
Weather Condition             object
Holiday/Promotion              int64
Competitor Pricing           float64
Seasonality                   object
dtype: object

In [11]:
## data cleaning 
df.Category.isna().sum()
df.isna().sum()
df.isnull().sum()

Date                  0
Store ID              0
Product ID            0
Category              0
Region                0
Inventory Level       0
Units Sold            0
Units Ordered         0
Demand Forecast       0
Price                 0
Discount              0
Weather Condition     0
Holiday/Promotion     0
Competitor Pricing    0
Seasonality           0
dtype: int64

In [12]:
# remove duplicates
df.duplicated().sum()

np.int64(0)

In [13]:
df.drop_duplicates()

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
0,2022-01-01,S001,P0001,Groceries,North,231,127,55,135.47,33.50,20,Rainy,0,29.69,Autumn
1,2022-01-01,S001,P0002,Toys,South,204,150,66,144.04,63.01,20,Sunny,0,66.16,Autumn
2,2022-01-01,S001,P0003,Toys,West,102,65,51,74.02,27.99,10,Sunny,1,31.32,Summer
3,2022-01-01,S001,P0004,Toys,North,469,61,164,62.18,32.72,10,Cloudy,1,34.74,Autumn
4,2022-01-01,S001,P0005,Electronics,East,166,14,135,9.26,73.64,0,Sunny,0,68.95,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73095,2024-01-01,S005,P0016,Furniture,East,96,8,127,18.46,73.73,20,Snowy,0,72.45,Winter
73096,2024-01-01,S005,P0017,Toys,North,313,51,101,48.43,82.57,10,Cloudy,0,83.78,Autumn
73097,2024-01-01,S005,P0018,Clothing,West,278,36,151,39.65,11.11,10,Rainy,0,10.91,Winter
73098,2024-01-01,S005,P0019,Toys,East,374,264,21,270.52,53.14,20,Rainy,0,55.80,Spring
73099,2024-01-01,S005,P0020,Groceries,East,117,6,165,2.33,78.39,20,Rainy,1,79.52,Spring

In [27]:
df.columns = df.columns.str.lower()
df.columns

Index(['date', 'store id', 'product id', 'category', 'region',
       'inventory level', 'units sold', 'units ordered', 'demand forecast',
       'price', 'discount', 'weather condition', 'holiday/promotion',
       'competitor pricing', 'seasonality'],
      dtype='object')

In [28]:
df1 = df.rename(columns={'store id':'store_id','product id':'product_id','inventory level':'inventory_level','units sold':'units_sold','units ordered':'units_ordered','demand forecast':'demand_forecast','weather condition':'weather_condition','competitor pricing':'competitor_pricing'})
df1

,date,store_id,product_id,category,region,inventory_level,units_sold,units_ordered,demand_forecast,price,discount,weather_condition,holiday/promotion,competitor_pricing,seasonality
0,2022-01-01,S001,P0001,Groceries,North,231,127,55,135.47,33.50,20,Rainy,0,29.69,Autumn
1,2022-01-01,S001,P0002,Toys,South,204,150,66,144.04,63.01,20,Sunny,0,66.16,Autumn
2,2022-01-01,S001,P0003,Toys,West,102,65,51,74.02,27.99,10,Sunny,1,31.32,Summer
3,2022-01-01,S001,P0004,Toys,North,469,61,164,62.18,32.72,10,Cloudy,1,34.74,Autumn
4,2022-01-01,S001,P0005,Electronics,East,166,14,135,9.26,73.64,0,Sunny,0,68.95,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73095,2024-01-01,S005,P0016,Furniture,East,96,8,127,18.46,73.73,20,Snowy,0,72.45,Winter
73096,2024-01-01,S005,P0017,Toys,North,313,51,101,48.43,82.57,10,Cloudy,0,83.78,Autumn
73097,2024-01-01,S005,P0018,Clothing,West,278,36,151,39.65,11.11,10,Rainy,0,10.91,Winter
73098,2024-01-01,S005,P0019,Toys,East,374,264,21,270.52,53.14,20,Rainy,0,55.80,Spring
73099,2024-01-01,S005,P0020,Groceries,East,117,6,165,2.33,78.39,20,Rainy,1,79.52,Spring

In [29]:
# adding columns to table 
df1['profits'] = df1['units_sold'] * df1['price']
df1['profits']

0         4254.50
1         9451.50
2         1819.35
3         1995.92
4         1030.96
           ...
73095      589.84
73096     4211.07
73097      399.96
73098    14028.96
73099      470.34
Name: profits, Length: 73100, dtype: float64

In [30]:
## apply functions 

df1['price_double'] = df1['competitor_pricing'] + df1['price']
df1['price_double']

0         63.19
1        129.17
2         59.31
3         67.46
4        142.59
          ...
73095    146.18
73096    166.35
73097     22.02
73098    108.94
73099    157.91
Name: price_double, Length: 73100, dtype: float64

In [31]:
## using some functions 

def forcast(demand_forecast):
    return demand_forecast * 2

df1['squared_forecast'] = df1['demand_forecast'].apply(forcast)
df1

,date,store_id,product_id,category,region,inventory_level,units_sold,units_ordered,demand_forecast,price,discount,weather_condition,holiday/promotion,competitor_pricing,seasonality,profits,price_double,squared_forecast
0,2022-01-01,S001,P0001,Groceries,North,231,127,55,135.47,33.50,20,Rainy,0,29.69,Autumn,4254.50,63.19,270.94
1,2022-01-01,S001,P0002,Toys,South,204,150,66,144.04,63.01,20,Sunny,0,66.16,Autumn,9451.50,129.17,288.08
2,2022-01-01,S001,P0003,Toys,West,102,65,51,74.02,27.99,10,Sunny,1,31.32,Summer,1819.35,59.31,148.04
3,2022-01-01,S001,P0004,Toys,North,469,61,164,62.18,32.72,10,Cloudy,1,34.74,Autumn,1995.92,67.46,124.36
4,2022-01-01,S001,P0005,Electronics,East,166,14,135,9.26,73.64,0,Sunny,0,68.95,Summer,1030.96,142.59,18.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73095,2024-01-01,S005,P0016,Furniture,East,96,8,127,18.46,73.73,20,Snowy,0,72.45,Winter,589.84,146.18,36.92
73096,2024-01-01,S005,P0017,Toys,North,313,51,101,48.43,82.57,10,Cloudy,0,83.78,Autumn,4211.07,166.35,96.86
73097,2024-01-01,S005,P0018,Clothing,West,278,36,151,39.65,11.11,10,Rainy,0,10.91,Winter,399.96,22.02,79.30
73098,2024-01-01,S005,P0019,Toys,East,374,264,21,270.52,53.14,20,Rainy,0,55.80,Spring,14028.96,108.94,541.04
73099,2024-01-01,S005,P0020,Groceries,East,117,6,165,2.33,78.39,20,Rainy,1,79.52,Spring,470.34,157.91,4.66

In [32]:
## filtering functions

df1.nlargest(n = 5, columns='profits')

,date,store_id,product_id,category,region,inventory_level,units_sold,units_ordered,demand_forecast,price,discount,weather_condition,holiday/promotion,competitor_pricing,seasonality,profits,price_double,squared_forecast
59241,2023-08-16,S003,P0002,Furniture,East,497,483,108,502.77,99.09,5,Cloudy,0,102.70,Spring,47860.47,201.79,1005.54
47597,2023-04-21,S005,P0018,Toys,South,494,487,98,499.90,96.80,20,Sunny,1,98.07,Summer,47141.60,194.87,999.80
56659,2023-07-21,S003,P0020,Groceries,West,491,478,55,477.19,97.93,20,Rainy,0,101.38,Autumn,46810.54,199.31,954.38
70372,2023-12-05,S004,P0013,Clothing,West,481,469,118,480.18,99.77,15,Cloudy,0,95.08,Spring,46792.13,194.85,960.36
49523,2023-05-11,S002,P0004,Furniture,West,498,461,197,454.53,99.63,20,Snowy,0,103.17,Winter,45929.43,202.80,909.06

In [33]:
df1.query("category == 'Furniture'")

,date,store_id,product_id,category,region,inventory_level,units_sold,units_ordered,demand_forecast,price,discount,weather_condition,holiday/promotion,competitor_pricing,seasonality,profits,price_double,squared_forecast
6,2022-01-01,S001,P0007,Furniture,East,359,97,167,108.92,34.16,10,Rainy,1,36.55,Winter,3313.52,70.71,217.84
10,2022-01-01,S001,P0011,Furniture,South,258,150,153,152.74,58.53,10,Sunny,1,61.42,Spring,8779.50,119.95,305.48
22,2022-01-01,S002,P0003,Furniture,East,445,182,119,176.31,20.46,20,Snowy,1,22.00,Spring,3723.72,42.46,352.62
25,2022-01-01,S002,P0006,Furniture,North,492,250,168,242.57,85.59,20,Cloudy,0,86.82,Winter,21397.50,172.41,485.14
52,2022-01-01,S003,P0013,Furniture,North,51,17,172,12.86,73.98,20,Cloudy,1,76.65,Summer,1257.66,150.63,25.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73082,2024-01-01,S005,P0003,Furniture,South,98,92,118,105.61,24.17,5,Cloudy,0,23.07,Winter,2223.64,47.24,211.22
73085,2024-01-01,S005,P0006,Furniture,North,491,173,100,175.40,71.30,20,Snowy,1,68.90,Winter,12334.90,140.20,350.80
73088,2024-01-01,S005,P0009,Furniture,North,319,211,31,209.03,87.70,0,Rainy,1,91.05,Autumn,18504.70,178.75,418.06
73094,2024-01-01,S005,P0015,Furniture,North,408,323,92,336.64,83.26,0,Sunny,0,80.96,Winter,26892.98,164.22,673.28
73095,2024-01-01,S005,P0016,Furniture,East,96,8,127,18.46,73.73,20,Snowy,0,72.45,Winter,589.84,146.18,36.92

In [34]:
import pymysql 
from sqlalchemy import create_engine 

engine_sql = create_engine("mysql+pymysql://root:2005@127.0.0.1:3306/inventory")

try:
    create_engine
    print("engine connected sucuessfully")
except:
    print("unable to connect")

engine connected sucuessfully

In [36]:
df1.to_sql(name ="inventory" , con=engine_sql, index= False,if_exists= "append" )

73100

In [37]:
df1.demand_forecast

0        135.47
1        144.04
2         74.02
3         62.18
4          9.26
          ...
73095     18.46
73096     48.43
73097     39.65
73098    270.52
73099      2.33
Name: demand_forecast, Length: 73100, dtype: float64